{{define "footer"}}
	<p class="pull-left">&copy; 2014 DiaosiCoder</p>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.0/jquery.js"></script>
	<script type="text/javascript" src="http://cdn.staticfile.org/jQuery-Validation-Engine/2.6.2/languages/jquery.validationEngine-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/jQuery-Validation-Engine/2.6.2/validationEngine.jquery.min.css" >
	<script type="text/javascript" src="http://cdn.staticfile.org/jQuery-Validation-Engine/2.6.2/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/base.js"></script>
{{end}}
