{{define "header"}}
	<title>Code Save.Us</title> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="特别的代码分享网站, 可以通过白板的方式交流对同一段代码的看法, 也十分方便分享." >
    <!--<meta name="description" content="我们是一帮无可救药的屌丝, 只是活着就感觉用尽了全力, 希望代码能拯救我们离开苦海.">-->
    <meta name="keywords" content="代码分享, 编程互动, 代码手机浏览">
    <meta name="author" content="wbx">
	<link rel="shortcut icon" href="/static/img/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="/static/css/jumbotron-narrow.css" >
{{end}}
