{{define "header"}}
	<title>CodeSave</title> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="codesave">
    <meta name="author" content="wbx">
	<link rel="shortcut icon" href="/static/img/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="/static/css/jumbotron-narrow.css" >
{{end}}