<!DOCTYPE html>
<html>
	<head>
		{{template "header" .}}
		{{.htmlHeader}}
		<script type="text/javascript">
			var isLogin = {{if .isLogin}}true{{else}}false{{end}};
			{{if .isLogin}}
			var user_id = {{.user.Id}};
			var user_nickname = {{.user.Nickname}};
			{{else}}
			var user_nickname = '游客';
			{{end}};
		</script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Code Save.Us</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{{if .isLogin}}
							<li><a href="/u">你好, {{.user.Nickname}}</a></li>
							<li><a href="/a">分享代码</a></li>
						{{else}}
							<li><a href="/r">注册</a></li>
							<li><a href="/l">登录</a></li>
						{{end}}
					</ul>
				</div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		</div><!-- /.navbar -->
		<div class="container">
			{{.LayoutContent}}
			<hr>
			<div class="footer">
				{{template "footer" .}}
			</div>
			{{.htmlFooter}}
		</div> 
	</body>
</html>
