<!DOCTYPE html>
<html>
	<head>
		{{template "header" .}}
		{{.htmlHeader}}
		<script type="text/javascript">
			var isLogin = {{if .isLogin}}true{{else}}false{{end}};
			{{if .isLogin}}
			var user_id = {{.user.Id}};
			var user_nickname = {{.user.Nickname}};
			{{end}};
		</script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
				<li class="active"><a href="/">首页</a></li>
				{{if .isLogin}}
					<li><a href="/u">{{.user.Nickname}}</a></li>
					<li><a href="/o">退出</a></li>
				{{else}}
					<li><a href="/r">注册</a></li>
					<li><a href="/l">登陆</a></li>
				{{end}}
				</ul>
				<h3 class="text-muted">CodeSave</h3>
			</div>
			
			{{.LayoutContent}}
						
			<div class="footer">
				{{template "footer" .}}
			</div>
			{{.htmlFooter}}
		</div> <!-- /container -->
	</body>
</html>