<!DOCTYPE html>
<html>
	<head>
		{{template "header" .}}
		{{.htmlHeader}}
		<script type="text/javascript">
			var isLogin = {{if .isLogin}}true{{else}}false{{end}};
			{{if .isLogin}}
			var user_id = {{.user.Id}};
			var user_nickname = {{.user.Nickname}};
			{{else}}
			var user_nickname = '游客';
			{{end}};
		</script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
				{{if .isLogin}}
					<li><a href="/u">你好, {{.user.Nickname}}</a></li>
					<li><a href="/a">分享代码</a></li>
				{{else}}
					<li><a href="/r">注册</a></li>
					<li><a href="/l">登录</a></li>
				{{end}}
				</ul>
				<h2 class="text-muted"><a href="/">Code Save.Us</a></h2>
			</div>
			{{.LayoutContent}}
			<div class="footer">
				{{template "footer" .}}
			</div>
			{{.htmlFooter}}
		</div> <!-- /container -->
	</body>
</html>
