<link rel="stylesheet" href="/static/css/highlightjs/default.css">
<script src="/static/js/highlight.pack.js"></script>
<script src="/static/js/tabIndent.js"></script>
<style type="text/css">
</style>
<form class="form-signin" method="POST">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Push</button>
	<div class="input-group">
		<span class="input-group-addon">标题</span>
		<input type="text" name="Title" class="form-control" placeholder="请输入你的问题...">
	</div>

	<div class="marketing">
	<h4 class="text-muted">请输入你的代码。</h4>
	<textarea spellcheck="false" class="tabIndent form-control"  id="editor"  rows="15" name="Content"></textarea>
	</div>
	<div class="marketing">
	<pre>
		<code id="previewEditor">
		</code>
	</pre>
	</div>
</form>
{{.Intid}}

<script type="text/javascript">
	tabIndent.renderAll();
	$(function() {
		$('#editor').bind('keyup', function(){
			$('#previewEditor').text($(this).val());
			$('#previewEditor').removeClass($('#previewEditor').attr('class'));
			$('pre code').each(function(i, e) {hljs.highlightBlock(e)});
		});
	});
</script>
