<div class="bs-example">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>标题</th>
				<th>发布者</th>
				<th>吐槽数</th>
			</tr>
		</thead>
		<tbody>
			{{range .q}}
			<tr>
				<td><a href="/q/{{.Id}}">{{.Title}}</a></td>
				<td>{{.Nickname}}</td>
				<td>{{.CommentNum}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>

	<ul class="pager pull-right">
		{{if .prev}}
			<li><a href="/{{.prevPage}}">上一页</a></li>
		{{end}}
		{{if .next}}
			<li><a href="/{{.nextPage}}">下一页</a></li>
		{{end}}
	</ul>
</div>
