<div class="nav nav-pills pull-right"><img src="http://qr.liantu.com/api.php?w=100&h=100&m=0&el=m&text=http://www.codesave.us/q/{{.q.Id}}"/> </div>
<h1>{{.q.Title}}</h1>
<h6>{{date .q.PublishTime "Y-m-d H:i:s"}}</h6>
<div class="row marketing">
  <pre>
  	<code id="code" >{{.q.Content}}</code>
  </pre>
</div>
<div class="bs-example">
	<table class="table table-striped">
		<tbody id="commentBody">
			{{range .c}}
			<tr>
				<td>{{.Nickname}}</td>
				<td>{{substr .Content 0 30}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>

	<ul class="pager pull-right">
			<li id="prevButton" style="display:none;"><a onclick="$.csLoadComment(false)">上一页</a></li>
			<li id="nextButton" style="display:none;"><a onclick="$.csLoadComment(true)">下一页</a></li>
	</ul>
</div>


