<link rel="stylesheet" href="/static/css/highlightjs/default.css">
<script src="/static/js/highlight.pack.js"></script>

<div class="marketing" onselectstart="return false;">
<pre>
	<code id="code">
require_once 'Zend/Uri/Http.php';

abstract class URI extends BaseURI
{

  /**
   * Returns a URI
   *
   * @return  URI
   */
    static public function _factory($stats = array(), $uri = 'http')
  {
      echo __METHOD__;
      $uri = explode(':', $uri, 0b10);
      $schemeSpecific = isset($uri[1]) ? $uri[1] : '';
      $desc = 'Multiline description';

      // Security check
      if (!ctype_alnum($scheme)) {
          throw new Zend_Uri_Exception('Illegal scheme');
      }

      return [
        'uri' => $uri,
        'value' => null,
      ];
  }
}

__halt_compiler () ; datahere
datahere
datahere */
datahere
	</code>
</pre>
</div>
 <div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">评论</h4>
      </div>
      <div class="modal-body">
        <textarea id="commentText" class="form-control" rows="5"></textarea>
        <p class="text-right text-muted">您还可以输入<b id="commentNum">255</b>个字符</p>
      </div>
      <div class="modal-footer" style="clear:both;">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="commentSubmit" class="btn btn-primary">发表</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="popover" class="popover fade right in" style="top: 363px; left: 600px; display: hidden;"><div class="arrow"></div><div id="popoverButton" class="popover-content text-primary btn-link">评论</div></div>
<div id="test" class="popover fade right in" style="top: 363px; left: 600px; display: block;">
  <div id="testarrow" class="arrow"></div>
  <div id="testTitle" class="popover-content" style="border-bottom: 1px solid #eee;display:none;">
        <a>ooxx</a> <button type="button" class="close testClose" aria-hidden="true">&times;</button><button id="testHidden" type="button" class="close" aria-hidden="true">&minus;</button>
  </div>
  <div id="testpopovershort" class="pull-left popover-content text-primary">
    输出JSON的时候， 首字母大写...<button type="button" class="close testClose" aria-hidden="true">&times;</button>
  </div>
  <div id="testpopovertotal" class="pull-left popover-content text-primary hidden">
    输出JSON的时候， 首字母大写， 怎么转换成小写呢？<br /><br />struct 定义的首字母大写， 才可以对外访问， 输出之后也还是大写。。<br /><br />https://github.com/astaxie/bui...<br />原来文档里有答案，看的不够仔细<br /><br />type Topic struct {<br />Id int `json:"id"`<br />Title string `json:"title"`<br />Posttime string `json:"posttime"`<br />Author string `json:"author"`<br />}
  </div>
</div>

<script type="text/javascript">
var _mouseLocation = {};
$(function(){
    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    $('a').popover();
    $('#code').bind('dblclick', function(event){
        _mouseLocation.pageX = event.pageX;
        _mouseLocation.pageY = event.pageY;
        $('#popover').css({top: event.pageY - 20, left: event.pageX + 5}).show();
    }).bind('click', function(){
      $('#popover').hide();
    });
    $('#popoverButton').bind('click', function(){
        $('#myModal').modal();
        $('#popover').hide();
    });
    $('#commentText').bind('keyup', _commentKey).bind('keydown', _commentKey);
    $('#commentSubmit').bind('click', function(){
      var len = $('#commentText').val().length;
      if (len == 0) {
        alert('请输入您的评论');
        return;
      };
      var num = 255 - len;
      $('#commentNum').text(num);
      if (num < 0 || len == 0) { 
        alert('您输入您的评论太多了！');
        $('.alert').alert();
      }else{
        $('#myModal').modal('hide');
        _insertComment($('#commentText').val());
      }
    });
    $('#testpopovershort').bind('click', function(){
      $('#testTitle').fadeIn();
      var baseHeight = parseInt($('#test').css('height'));
      $('#test').animate({'max-width': "500px"}, 500);
      $('#testpopovershort').addClass('hidden');
      $('#testpopovertotal').removeClass('hidden');
      var newHeight = parseInt($('#test').css('height'));
      $('#testarrow').css({'top': (baseHeight/newHeight * 100 / 2 ) + '%'});
    });
    $('.testClose').bind('click', function(event){
      $('#test').hide();
      event.stopPropagation();
    });
    $('#testHidden').bind('click', function(){
      $('#testTitle').hide();
      $('#testpopovershort').fadeIn().removeClass('hidden');
      $('#testpopovertotal').addClass('hidden');
      $('#test').animate({'max-width': "276px"}, 500);
      $('#testarrow').css({'top': '50%'});
    });
});
function _commentKey(){
  var len = $.trim($('#commentText').val()).length;
  var num = 255 - len;
  $('#commentNum').text(num);
  if (num < 0) {
    $('#commentNum').addClass('text-danger');
  }else{
    $('#commentNum').removeClass('text-danger');
  }
}
var _i = 0;
function _insertComment(comment){
  comment = htmlspecialchars($.trim(comment));
  var shortComment = substr(comment, 0, 10);
  _i++;
  var top = _mouseLocation.pageY - 22;
  var left = _mouseLocation.pageX + 5;
  var commentHtml = '<div id="comment' + _i + '" class="popover fade right in" style="top: ' + top + 'px; left: ' + left + 'px; display: block;">\
  <div id="commentArrow' + _i + '" class="arrow"></div>\
  <div id="commentTitle' + _i + '" class="popover-content" style="border-bottom: 1px solid #eee;display:none;">\
        <a>ooxx</a> <button type="button" class="close commentClose' + _i + '" aria-hidden="true">&times;</button><button id="commentHidden' + _i + '" type="button" class="close" aria-hidden="true">&minus;</button>\
  </div>\
  <div id="commentShort' + _i + '" class="pull-left popover-content text-primary">' + shortComment + '...<button type="button" class="close commentClose' + _i + '" aria-hidden="true">&times;</button>\
  </div>\
  <div id="commentTotal' + _i + '" class="pull-left popover-content text-primary hidden">' + nl2br(comment) + '</div>\
</div>';
  $('body').append(commentHtml);
  _bindComment(_i);
}
function _bindComment(id){
  $('#commentShort' + id).bind('click', function(){
      $('#commentTitle' + id).fadeIn();
      var baseHeight = parseInt($('#test').css('height'));
      $('#comment' + id).animate({'max-width': "500px", 'min-width': '276px'}, 500);
      $('#commentShort' + id).addClass('hidden');
      $('#commentTotal' + id).removeClass('hidden');
      var newHeight = parseInt($('#comment' + id).css('height'));
      $('#commentArrow' + id).css({'top': (baseHeight/newHeight * 100 / 2 ) + '%'});
    });
    $('.commentClose' + id).bind('click', function(event){
      $('#comment' + id).hide();
      event.stopPropagation();
    });
    $('#commentHidden' + id).bind('click', function(){
      $('#commentTitle' + id).hide();
      $('#commentShort' + id).fadeIn().removeClass('hidden');
      $('#commentTotal' + id).addClass('hidden');
      $('#comment' + id).animate({'max-width': "276px", 'min-width': '0px'}, 500);
      $('#commentArrow' + id).css({'top': '50%'});
    });
}
</script>